* {margin:0;padding:0;}  /* reset code */
body{ color:#000000;font-style:arial; font-size:14px;line-height:20px;} /* background:url(images/bg.jpg) fixed repeat;*/
h1,h2,h3,h4,h5,h6{font-weight:normal;margin-bottom:15px;}
a{color:#1D3F5A}
a:hover{text-decoration:none}


.column{width:1000px; margin:45px auto;display:block;transition: all 0.9s ease 0s;-moz-transition: all 0.9s ease 0s;-webkit-transition: all 0.9s ease 0s;-o-transition: all 0.9s ease 0s; padding:20px; background:#FFFFFF;
border: 0 solid #999;box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);margin-top: 15px !important;overflow: hidden;padding: 10px;}

.structure{width:960px;margin:0 auto;display:block;}
.floatleft{float:left}
.floatright{float:right}
.fix{overflow:hidden}

.header_area {width:960px;border:0px solid #999}
.header_area {border-bottom:1px solid #e3e3e3;padding:10px;text-align:center;background:#fff;}


.header {}
.header h2{padding:10px;text-align:center;background:#fff;}

.header_left {width:730px;border:0px solid #999;float:left;}
.header_left h2{margin-left:100px;padding:20px;text-align:center;font-size:40px;line-height:35px;font-family:Aharoni;}

.header_right {
	float:right;
	border:0px solid #999;
	width:220px;
}
.header_right img {
	border: 2px solid #eee !important;
    float: left;
    max-height: 180px;
	
    margin: 2px 12px 3px 25px;
    max-width: 200px;
    padding: 5px;

	display: block;
	
}


h2:first-letter {text-transform:capitalize;}

.maincontent_area{}
.maincontent{min-height:500px;border:2px solid #999;margin:10px;}

.section_area {margin:10px;}
.section_area h2 {padding:10px;text-align:left;color:#fff;font-size:30px;background:#666;}
.section_area p {padding:10px;text-align:justify;font-size:20px;}

.section_area ul li {
list-style:none;
margin-left:40px;
padding:5px;
}


.section_area_1,.section_area_2,.section_area_3,.section_area_4,.section_area_5,.section_area_6,.section_area_7,.section_area_8,.section_area_9 {
	margin-bottom:30px;}
.section_area_1,.section_area_2,.section_area_3,.section_area_4,.section_area_5,.section_area_6,.section_area_7,.section_area_8,.section_area_9 h2 { font-family:Aharoni;
}


.section_area_2  table{text-align: center !important;}
.section_area_2  tr,td{border: 1px solid black;padding:10px;}

.section_area_2 th {background-color: #4CAF50;color: white;}

.section_area_3  table{border: 1px solid black;text-align: left !important;}
.section_area_3 th {background-color: #4CAF50;color: white;padding:10px;}

.section_area_1,.section_area_6{line-height:30px}

.section_area_9 h2{}
.section_area_9 ul{margin-bottom:50px}
.section_area_9 ul li{
list-style:none;
margin-left:40px;
padding:5px;
font-family:Aharoni;

}
.section_area_9 p {padding:2px;text-align:justify;font-size:20px;font-family:Aharoni;}



.footer_area{}
.footer{background:#6e6e6e}
.footer p{padding:20px;text-decoration:none;text-align:center;font-family:Aharoni;}